@import '~bootstrap/scss/bootstrap';
@import'./header.scss';
ul{
    list-style: none;
    border: 1px solid black;
    background-color: yellowgreen;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-top: 25px;
}
body{
    background-color: cornflowerblue;
}
h3{
    border-bottom: 1px solid black;
}